body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    padding: 50px;
    
}

#message {
    font-size: 30px;
    color: #333333;
    margin-bottom: 30px;
}

#stopwatch {
    margin-top: 50px;
}

#stopwatch p {
    font-size: 30px;
    color: #333333;
    margin-bottom: 20px;
}

#stopwatch button {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
}

